.card
  margin-top: 92px
  @media screen and ( max-width: 1366px )
    margin-top: 22px
  .breadcrumbs
    padding: 0
    margin: 0
  .breadcrumbs-list
    justify-content: flex-start
  &-container
    @include dfr()
    justify-content: space-between
    margin-bottom: 156px
    @media screen and ( max-width: 1366px )
      margin-bottom: 56px
    @media screen and ( max-width: 900px )
      flex-direction: column-reverse
  &-img
    width: calc(50% - 30px)
    @media screen and ( max-width: 1366px )
      width: calc(50% - 20px)
    @media screen and ( max-width: 900px )
      width: 100%
  &-wrapper
    width: calc(50% - 30px)
    padding-bottom: 44px
    @media screen and ( max-width: 1366px )
      width: calc(50% - 20px)
    @media screen and ( max-width: 900px )
      width: 100%
  &-name
    font-size: 50px
    line-height: 62px
    font-weight: 600
    color: $green
    margin-bottom: 48px
    margin-top: 7px
    @media screen and ( max-width: 1000px )
      font-size: 35px
      line-height: 42px
    @media screen and ( max-width: 767px )
      font-size: 30px
      line-height: 36px
    @media screen and ( max-width: 500px )
      font-size: 28px
      line-height: 34px
  &-btns
    @include dfr()
    @media screen and ( max-width: 500px )
      flex-direction: column
    .btn
      padding: 22px 93px 20px
      margin-right: 13px
      @media screen and ( max-width: 1200px )
        padding: 22px 50px 20px
      &--white
        padding: 22px 87px 20px
        text-align: center
        line-height: 18px
        @media screen and ( max-width: 1200px )
          padding: 22px 50px 20px
        @media screen and ( max-width: 500px )
          margin-top: 10px
  &-desc
    @media screen and ( max-width: 900px )
      display: none
    &--mobile
      display: none
      @media screen and ( max-width: 900px )
        display: block
        margin-bottom: 30px
        .card-info
          display: block
        .card-comp
          display: flex

  &-info
    @media screen and ( max-width: 1366px )
      max-width: 435px
    p
      line-height: 27px
      color: #000
      @media screen and ( max-width: 1366px )
        line-height: 25px
    h3
      margin-top: 63px
  &-comp
    @include dfr()
    flex-wrap: wrap
    &__item
      @include dfc()
      margin-right: 40px
      &:last-child
        margin-right: 0px
      @media screen and ( max-width: 767px )
        margin-bottom: 20px
    &__green
      font-size: 24px
      line-height: 29px
      font-weight: 600
      color: $green
      @media screen and ( max-width: 767px )
        font-size: 22px
        line-height: 26px
      @media screen and ( max-width: 500px )
        font-size: 20px
        line-height: 24px
    &__text
      font-size: 18px
      line-height: 24px
      color: #000
      font-weight: 400
      margin-top: 5px
      @media screen and ( max-width: 1366px )
        font-size: 16px
        line-height: 21px
  &-cert
    @include dfr()
    flex-wrap: wrap

  &-img
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    margin-top: 15px
    @media screen and ( max-width: 1366px )
      padding-bottom: 140px
    @media screen and ( max-width: 900px )
      padding-bottom: 100px
    @media screen and ( max-width: 500px )
      padding-bottom: 50px
  &-thumb
    width: 95px
    @include dfc()
    align-items: center
    padding-top: 15px
    @media screen and ( max-width: 500px )
      width: 63px
    .swiper-wrapper
      flex-direction: column
      width: 63px
    &-slide
      width: 63px !important
      height: 63px !important
      display: flex
      align-items: center
      justify-content: center
      border: 1px solid #E9ECE6
      border-bottom: none
      cursor: pointer
      box-shadow: 0px 0px 21px rgba(51, 72, 0, 0)
      transition: box-shadow 0.4s
      &.swiper-slide-thumb-active
        border-color: $lightgreen
        + .card-thumb-slide
          border-top-color: $lightgreen
        &:hover
          + .card-thumb-slide
            border-top-color: #E9ECE6
      &:last-child
        border-bottom: 1px solid #E9ECE6
        &.swiper-slide-thumb-active
          border-color: $lightgreen
      &:hover
        transition: box-shadow 0.4s
        border: 1px solid rgba(233, 236, 230, 0)
        box-shadow: 0px 0px 21px rgba(51, 72, 0, 0.2)
        z-index: 2
        @media screen and ( max-width: 500px )
          box-shadow: 0px 0px 21px rgba(51, 72, 0, 0)
          border: 1px solid #E9ECE6
  &-slider
    width: calc(100% - 98px)
    &-btn
      position: absolute
      bottom: 0
      z-index: 2
      cursor: pointer
      @media screen and ( max-width: 500px )
        display: none
      &:hover
        circle
          fill: $lightgreen
          transition: all 0.4s
        path
          stroke: #fff
          transition: all 0.4s
      &.swiper-button-disabled
        cursor: default
        opacity: 0.4
        pointer-events: none
      svg
        width: 40px
        height: 40px
        @media screen and ( max-width: 1366px )
          width: 32px
          height: 32px
        circle
          fill: #F4F5F3
          transition: all 0.4s
        path
          stroke: #567B00
          transition: all 0.4s
      &--next
        right: 6px
      &--prev
        right: 59px
        svg
          transform: rotate(180deg)
  &-slide
    @include dfr()
    align-items: center
    img
      width: 100%

.card-information
  background-color: #E05B63
  &__wrapper
    max-width: 912px
    margin: 0 auto
    padding: 143px 0px 140px
    @media screen and ( max-width: 1366px )
      max-width: 807px
      padding: 101px 0px 99px
    @media screen and ( max-width: 900px )
      max-width: none
      width: 100%
      padding: 101px 40px 99px
    @media screen and ( max-width: 767px )
      padding: 101px 20px 99px
  &__title
    font-size: 24px
    line-height: 30px
    color: #fff
    font-weight: 600
    margin-bottom: 36px
    @media screen and ( max-width: 767px )
      font-size: 22px
      line-height: 26px
    @media screen and ( max-width: 500px )
      font-size: 20px
      line-height: 24px
  &__list
    @include dfr()
    flex-wrap: wrap
    justify-content: space-between
    @media screen and ( max-width: 600px )
      flex-direction: column
  &__item
    width: calc(50% - 30px)
    @media screen and ( max-width: 1366px )
      width: calc(50% - 27px)
    @media screen and ( max-width: 900px )
      width: calc(50% - 15px)
    @media screen and ( max-width: 600px )
      width: 100%
.information-item
  padding: 19px 0px 18px
  border-bottom: 1px solid #fff
  @media screen and ( max-width: 1366px )
    padding: 18px 0px
  &:first-child
    border-top: 1px solid #fff
  &:nth-child(2)
    border-top: 1px solid #fff
    @media screen and ( max-width: 600px )
      border-top: none
  &__name
    font-size: 18px
    line-height: 26px
    color: #fff
    font-weight: 600
    @media screen and ( max-width: 1366px )
      font-size: 16px
      line-height: 24px
  &__desc
    font-size: 18px
    line-height: 26px
    color: #fff
    font-weight: 400
    @media screen and ( max-width: 1366px )
      font-size: 16px
      line-height: 24px

.cert
  &-item
    width: calc(50% - 32px)
    margin-bottom: 32px
    margin-right: 64px
    &:nth-child(2n)
      margin-right: 0px
    @media screen and ( max-width: 500px )
      width: 100%
      margin-right: 0px
    &__href
      @include dfr()
      &:hover
        .cert-item__name
          color: $lightgreen
    &__wrapper
      max-width: 310px
      margin-left: 16px
    &__icon
      margin-top: 6px
    &__name
      color: #000
      line-height: 27px
      margin-bottom: 8px
      transition: all 0.4s
    &__info
      font-size: 12px
      line-height: 16px
      color: $green
      text-transform: uppercase
