.gallery
  .section-head
    margin-top: 37px
    margin-bottom: 80px
  &-wrapper
    height: 100vh
    @include dfr()
    justify-content: space-between
    align-items: center
    overflow: hidden
    position: relative
  &-column
    @include dfc()
    width: calc(100% / 5 - 53px)
    position: relative
    z-index: 2
    &--3
      width: 100%
      height: 100vh
      overflow: hidden
      position: absolute
      top: 0
      left: 0%
      z-index: 1
      .gallery-item
        width: 20%
        height: 100%
        position: absolute
        left: 50%
        transform: translate(-50%, 0)
        &__img
          width: 100%
          height: 100%
          img
            width: 100%
            height: 100%
            object-fit: cover
    &--2
      margin-right: 220px
    &--4
      margin-left: 220px
  &-item
    position: relative
    & + .gallery-item
      margin-top: 48px
    &__text
      font-size: 22px
      line-height: 28px
      font-weight: 600
      color: #fff
      position: absolute
      top: 24px
      left: 0
      width: 100%
      padding: 0 24px
