.products
  padding-top: 60px
  margin-bottom: 222px
  position: relative
  @media screen and ( max-width: 1440px )
    margin-bottom: 205px
  .container
    padding: 0 114px 0 160px
    position: relative
    z-index: 2
    @media screen and ( max-width: 1366px )
      padding: 0 35px
  .section-head
    position: relative
    z-index: 2
    h2
      max-width: 675px
  &-list
    @include dfc()
  &-row
    @include dfr()
    align-items: flex-start
    @media screen and ( max-width: 900px )
      flex-wrap: wrap
    &--1
      justify-content: flex-end
      align-items: center
      margin-top: -69px
      @media screen and ( max-width: 1200px )
        justify-content: space-between
      @media screen and ( max-width: 900px )
        margin-top: 0px
      .products-item
        @media screen and ( max-width: 900px )
          width: 100%
        &:first-child
          margin-right: 293px
          margin-top: 31px
          @media screen and ( max-width: 1440px )
            margin-right: 150px
            width: 260px
          @media screen and ( max-width: 1200px )
            margin-right: 0px
          @media screen and ( max-width: 900px )
            width: 100%
            margin-top: 0px
          .products-item__name
            top: 67%
            left: 77%
            @media screen and ( max-width: 900px )
              top: auto
              left: auto
        &:nth-child(2)
          @media screen and ( max-width: 1440px )
            width: 500px
          @media screen and ( max-width: 900px )
            width: 100%
          .products-item__name
            top: 38.5%
            left: 8px
            @media screen and ( max-width: 900px )
              top: auto
              left: auto

    &--2
      justify-content: center
      align-items: center
      margin-top: -50px
      margin-left: 43px
      @media screen and ( max-width: 1200px )
        justify-content: space-between
        margin-left: 0px
      @media screen and ( max-width: 900px )
        margin-top: 0px
      .products-item
        &:first-child
          margin-right: 98px
          margin-top: -127px
          @media screen and ( max-width: 1440px )
            margin-right: -47px
            margin-top: -140px
            width: 306px
          @media screen and ( max-width: 1200px )
            margin-right: 0px
          @media screen and ( max-width: 900px )
            width: 100%
            margin-top: 0px
          .products-item__name
            top: 21%
            left: -34px
            @media screen and ( max-width: 1200px )
              top: 67%
              left: 77%
            @media screen and ( max-width: 900px )
              top: auto
              left: auto
        &:nth-child(2)
          width: 410px
          margin-left: 153px
          @media screen and ( max-width: 1200px )
            margin-left: 0px
          @media screen and ( max-width: 900px )
            width: 100%
          .products-item__name
            top: 33.3%
            left: 85%
            @media screen and ( max-width: 1200px )
              top: 63.5%
              left: -53px
            @media screen and ( max-width: 900px )
              top: auto
              left: auto
    &--3
      justify-content: flex-start
      align-items: flex-end
      margin-top: -180px
      margin-left: 8px
      @media screen and ( max-width: 1200px )
        justify-content: space-between
        margin-left: 0px
      @media screen and ( max-width: 900px )
        margin-top: 0px
      .products-item
        &:first-child
          @media screen and ( max-width: 1440px )
            width: 400px
            margin-top: 11px
          @media screen and ( max-width: 900px )
            width: 100%
            margin-top: 0px
          .products-item__name
            top: 59%
            left: 81%
            @media screen and ( max-width: 900px )
              top: auto
              left: auto
        &:nth-child(2)
          margin-left: 226px
          margin-bottom: -37px
          @media screen and ( max-width: 1440px )
            margin-left: 190px
            margin-bottom: -15px
            width: 204px
          @media screen and ( max-width: 1200px )
            margin-left: 0px
          @media screen and ( max-width: 900px )
            width: 100%
            margin-bottom: 0px
          .products-item__name
            top: 3%
            left: 56%
            @media screen and ( max-width: 1200px )
              top: 63.5%
              left: -53px
            @media screen and ( max-width: 900px )
              top: auto
              left: auto
  &-item
    position: relative
    display: flex
    flex-direction: row
    @media screen and ( max-width: 900px )
      justify-content: flex-start
      flex-direction: column
      align-items: center
    &:hover
      .products-item__name
        color: $lightgreen
        transition: all 0.4s
    &__name
      font-size: 18px
      line-height: 22px
      font-weight: 600
      color: $black
      position: absolute
      transition: all 0.4s
      @media screen and ( max-width: 900px )
        position: relative
        top: auto
        left: auto
    img
      display: block
      width: 100%
      height: 100%
      transform-origin: 50% 50%
      animation: rotateIt3
      animation-duration: 90s
      animation-timing-function: linear
      animation-iteration-count: infinite
      @media screen and ( max-width: 900px )
        width: auto
        height: auto
        object-fit: contain
        max-width: 100%
  &-background
    position: absolute
    z-index: 1
    width: 100%
    height: calc(100% + 90px)
    top: -90px
    left: 0
    overflow-x: hidden
    @media screen and ( max-width: 767px )
      top: 0px
    @media screen and ( max-width: 650px )
      display: none
    &__img
      position: absolute
      img
        display: block
        width: 100%
        height: 100%
      &--1
        top: 315px
        left: calc(50% - 385px)
      &--2
        top: 675px
        left: 130px
      &--3
        top: 635px
        left: calc(50% + 60px)
      &--4
        top: 610px
        left: calc(100% - 300px)
      &--5
        top: 1280px
        left: calc(50% - 120px)
      &--6
        top: 1260px
        left: calc(50% + 425px)
