.words
  // overflow: hidden
  position: relative
  height: 260px
  margin-top: 137px
  @media screen and ( max-width: 1440px )
    margin-top: 124px
  @media screen and ( max-width: 767px )
    display: none
  &-line
    @include dfr()
    position: absolute
    width: 100%

    animation-name: words
    animation-duration: 1000s
    animation-iteration-count: infinite
    animation-timing-function: linear
    animation-fill-mode: forwards
    background-size: cover

    p
      text-transform: uppercase
      font-size: 77px
      font-weight: 400
      letter-spacing: 0.01em
      color: $green
      white-space: pre
    &--1
      top: 0
      background-image: url(/app/build/img/words1.svg)
      background-repeat: repeat-x
      height: 158px
      @media screen and ( max-width: 1440px )
        height: 117px
    &--2
      top: 74px
      background-image: url(/app/build/img/words2.svg)
      background-repeat: repeat-x
      animation-direction: reverse
      height: 260px
      @media screen and ( max-width: 1440px )
        top: 48px
        height: 198px
@keyframes words
  0%
    background-position-x: 0%
  100%
    background-position-x: 10000%
