doctype html
html
  head(lang="ru")
    include includes/__head
  body.about
    include components/header
    .main
      include sections/about
    include components/footer
    include sections/galleryPopup
    include sections/callbackPopup
    include sections/searchPopup
    // include components/cookie
    include includes/__scripts