doctype html
html
  head(lang="ru")
    include includes/__head
  body
    include components/header
    .main
      .breadcrumbs
        ul.breadcrumbs-list
          li.breadcrumbs-item
            a(href="") Главная
          li.breadcrumbs-item
            a(href="") Продукция
      .page-title
        h1 Продукция
      include sections/catalog
    include components/footer
    include sections/galleryPopup
    include sections/callbackPopup
    include sections/searchPopup
    include components/cookie
    include sections/burger
    include includes/__scripts