doctype html
html
  head(lang="ru")
    include includes/__head
  body.default
    include components/header
    .main
      include components/breadcrumbs
      .page-title
        h1 Производство Тепличного комплекса с успехом прошло аудит компании METRO
      include sections/wysiwyg
    include components/footer
    include sections/galleryPopup
    include sections/callbackPopup
    include sections/searchPopup
    include includes/__scripts