doctype html
html
  head(lang="ru")
    include includes/__head
  body
    include components/header
    .main
      include components/mainscreen
      include sections/main-products
      include sections/gallery
      include sections/words
      include sections/shops
      include sections/news
    include components/footer
    include sections/galleryPopup
    include includes/__scripts