doctype html
html
  head(lang="ru")
    include includes/__head
  body
    include components/header
    .main
      .breadcrumbs
        ul.breadcrumbs-list
          li.breadcrumbs-item
            a(data-al="") Главная
          li.breadcrumbs-item
            a(data-al="") Поиск
      .page-title
        h1 Результаты поиска
      include sections/searchResult
    include components/footer
    include sections/galleryPopup
    include sections/callbackPopup
    include sections/searchPopup
    include components/cookie
    include sections/burger
    include includes/__scripts