doctype html
html
  head(lang="ru")
    include includes/__head
  body
    include components/header
    .main
      include components/breadcrumbs
      .page-title
        h1 Мерчандайзер
      include sections/vacancy-item
    include components/footer
    include sections/galleryPopup
    include sections/callbackPopup
    include sections/vacancyPopup
    include sections/searchPopup
    include includes/__scripts