.popup
  .callback,.vacancy
    &-wrapper
      padding-top: 120px
      padding-bottom: 50px
      max-width: 540px
      margin: 0 auto
      @include dfc()
      align-items: center
      @media screen and ( max-width: 767px )
        padding: 80px 20px 50px
      .form-button
        margin-top: 24px
    &-title
      font-size: 30px
      line-height: 36px
      font-weight: 600
      margin-bottom: 24px
      color: #fff
      @media screen and ( max-width: 767px )
        font-size: 22px
        line-height: 28px
    &-desc
      color: #fff
      font-size: 18px
      line-height: 30px
      text-align: center
      @media screen and ( max-width: 767px )
        font-size: 16px
        line-height: 22px
      @media screen and ( max-width: 500px )
        font-size: 14px
        line-height: 20px
    &-form
      @include dfc()
      width: 100%

