.mainscreen
  .text-container
    p
      font-size: 220px
      color: $green
      text-align: center

  .img-container
    text-align: center
    @include dfr()
    justify-content: center
    img
      width: 665px
      height: auto
      object-fit: contain
      display: block