.pagination
  @include dfr()
  justify-content: center
  padding: 0 20px
  margin-bottom: 197px
  @media screen and ( max-width: 1366px )
    margin-bottom: 155px
  &-item
    margin-right: 14px
    @media screen and ( max-width: 1366px )
      margin-right: 8px
    a
      width: 40px
      height: 40px
      border-radius: 50%
      background-color: transparent
      color: $green
      font-size: 16px
      line-height: 24px
      text-align: center
      @include dfr()
      justify-content: center
      align-items: center
      transition: all 0.4s
      font-weight: 600
      @media screen and ( max-width: 1366px )
        width: 32px
        height: 32px
      @media screen and ( max-width: 500px )
        width: 25px
        height: 25px
      &:hover
        color: $lightgreen
      &.active
        background-color: $lightgreen
        color: #fff
  &-dots
    font-size: 16px
    line-height: 42px
    text-align: center
    font-weight: 600
    color: $green
    @include dfr()
    align-items: flex-end
    margin-right: 21px
    @media screen and ( max-width: 1366px )
      margin-right: 19px
      margin-left: 16px
      line-height: 36px
    @media screen and ( max-width: 500px )
      margin-right: 16px
      margin-left: 4px
  &-btn
    @include dfr()
    align-items: flex-start
    cursor: pointer
    &:hover
      circle
        fill: $lightgreen
        transition: all 0.4s
      path
        stroke: #fff
        transition: all 0.4s
    svg
      @media screen and ( max-width: 1366px )
        width: 32px
        height: 32px
      @media screen and ( max-width: 500px )
        width: 25px
        height: 25px
      circle
        fill: #F4F5F3
        transition: all 0.4s
      path
        stroke: #567B00
        transition: all 0.4s
    &__prev
      margin-right: 20px
      @media screen and ( max-width: 500px )
        margin-right: 10px
      svg
        transform: rotate(180deg)
    &__next
      margin-left: 20px
      @media screen and ( max-width: 500px )
        margin-left: 10px
    &--disabled
      display: none
