section.section.about
  .about-top__container
    .about-top
      .breadcrumbs
        ul.breadcrumbs-list
          li.breadcrumbs-item
            a(data-al="") Главная
          li.breadcrumbs-item
            a(data-al="") О компании
      .page-title
        h1 О компании
      p.about-top__text.common-big На протяжении 20 лет компания поставляет на рынок экологически чистую, изготовленную без искусственных добавок и консервантов продукцию по оптимальным ценам.
      .about-top__img
        img(src="img/about/apples.png", alt="alt")
  .about-achievements.js-achievements
    p.about-achievements__title ФерЭльГам — лидер в&nbsp;сфере производства домашних&nbsp;солений и&nbsp;эксклюзивных рассольных сыров
    p.about-achievements__text Компания по праву считается первопроходцем выведения традиционно «рыночной» продукции на прилавки магазинов и торговых сетей и создателем этой ниши рынка как отдельной категории.
    .about-achievements__imgs
      .about-achievements__img--1
        img(src="img/about/pack1.png", alt="alt")
      .about-achievements__img--2
        img(src="img/about/pack2.png", alt="alt")
      .about-achievements__img--3
        img(src="img/about/pack3.png", alt="alt")
    .about-achievements__background
      .about-achievements__background--1
        img(src="img/about/leaflet-1.png", alt="alt")
      .about-achievements__background--2
        img(src="img/about/leaflet-2.png", alt="alt")
      .about-achievements__background--3
        img(src="img/about/leaflet-3.png", alt="alt")
    .ladybug
      include ../blocks/ladybug.pug
  .about-awards
    .about-awards__wrapper
      p.about-awards__title Мы занимаем призовые места на международных и региональных конкурсах
    .about-awards__slider
      .awards-slider
        .swiper-wrapper
          .awards-slide.swiper-slide
            img(src="img/about/awards-1.png", alt="alt")
            .awards-slide__annotation
              p XX Международный конкурс продовольственных товаров на выставке «ПРОДЭКСПО-2018»
          .awards-slide.swiper-slide
            img(src="img/about/awards-2.png", alt="alt")
            .awards-slide__annotation
              p XX Международный конкурс продовольственных товаров на выставке «ПРОДЭКСПО-2018»
          .awards-slide.swiper-slide
            img(src="img/about/awards-3.png", alt="alt")
            .awards-slide__annotation
              p XX Международный конкурс продовольственных товаров на выставке «ПРОДЭКСПО-2018»
          .awards-slide.swiper-slide
            img(src="img/about/awards-1.png", alt="alt")
            .awards-slide__annotation
              p XX Международный конкурс продовольственных товаров на выставке «ПРОДЭКСПО-2018»
          .awards-slide.swiper-slide
            img(src="img/about/awards-2.png", alt="alt")
            .awards-slide__annotation
              p XX Международный конкурс продовольственных товаров на выставке «ПРОДЭКСПО-2018»
          .awards-slide.swiper-slide
            img(src="img/about/awards-3.png", alt="alt")
            .awards-slide__annotation
              p XX Международный конкурс продовольственных товаров на выставке «ПРОДЭКСПО-2018»
          .awards-slide.swiper-slide
            img(src="img/about/awards-1.png", alt="alt")
            .awards-slide__annotation
              p XX Международный конкурс продовольственных товаров на выставке «ПРОДЭКСПО-2018»
          .awards-slide.swiper-slide
            img(src="img/about/awards-2.png", alt="alt")
            .awards-slide__annotation
              p XX Международный конкурс продовольственных товаров на выставке «ПРОДЭКСПО-2018»
          .awards-slide.swiper-slide
            img(src="img/about/awards-3.png", alt="alt")
            .awards-slide__annotation
              p XX Международный конкурс продовольственных товаров на выставке «ПРОДЭКСПО-2018»
          .awards-slide.swiper-slide
            img(src="img/about/awards-1.png", alt="alt")
            .awards-slide__annotation
              p XX Международный конкурс продовольственных товаров на выставке «ПРОДЭКСПО-2018»
          .awards-slide.swiper-slide
            img(src="img/about/awards-2.png", alt="alt")
            .awards-slide__annotation
              p XX Международный конкурс продовольственных товаров на выставке «ПРОДЭКСПО-2018»
          .awards-slide.swiper-slide
            img(src="img/about/awards-3.png", alt="alt")
            .awards-slide__annotation
              p XX Международный конкурс продовольственных товаров на выставке «ПРОДЭКСПО-2018»
        .awards-nav
          .awards-btn.awards-btn-prev
            <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20.2773" r="20" fill="white"/>
              <path d="M17.5002 12.7772L25.0004 20.2773L17.5002 27.7775" stroke="#567B00" stroke-width="1.5"/>
            </svg>
          .awards-btn.awards-btn-next
            <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="20" cy="20.2773" r="20" fill="white"/>
              <path d="M17.5002 12.7772L25.0004 20.2773L17.5002 27.7775" stroke="#567B00" stroke-width="1.5"/>
            </svg>
    .about-awards__background
      .about-awards__background--1
        img(src="img/about/leaflet-4.png", alt="alt")
      .about-awards__background--2
        img(src="img/about/leaflet-5.png", alt="alt")
  .about-video
    .about-video__wrapper
      .about-video__title Контролируем производство от&nbsp;поля&nbsp;до прилавка
      .about-video__text Мы совершенствуем технологические процессы, постоянно следим за качеством сырья, упаковкой и доставкой. Качественно и своевременно производим калибровку и засолку овощей и фруктов круглый год.
    .about-video__preview.js-popup-open(data-popup="video")
      .about-video__img
        img(src="img/about/preview.jpg", alt="alt")
      .about-video__btn
        <svg width="45" height="44" viewBox="0 0 45 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <ellipse cx="22.2266" cy="22" rx="22" ry="22" transform="rotate(90 22.2266 22)" fill="#84BD00"/>
          <path d="M19.082 17.1446L28.229 22L19.082 26.8554V17.1446Z" fill="white"/>
        </svg>
        span Смотреть видео о производстве
  .about-news
    .about-news-slider
      .news-slider.swiper-container
        .swiper-wrapper
          .news-slide.swiper-slide
            .news-slide__img
              img(src="img/about/news-main.png", alt="alt")
            .news-slide__title С 2012 производим солено-квашеную продукцию на собственном заводе.
          .news-slide.swiper-slide
            .news-slide__img
              img(src="img/about/news-main.png", alt="alt")
            .news-slide__title С 2012 производим солено-квашеную продукцию на собственном заводе.
        .news-btn.news-btn-prev
          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20.2773" r="20" fill="white"/>
            <path d="M17.5002 12.7772L25.0004 20.2773L17.5002 27.7775" stroke="#567B00" stroke-width="1.5"/>
          </svg>
        .news-btn.news-btn-next
          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20.2773" r="20" fill="white"/>
            <path d="M17.5002 12.7772L25.0004 20.2773L17.5002 27.7775" stroke="#567B00" stroke-width="1.5"/>
          </svg>
    ul.about-news__list
      li.about-news__item
        a(data-al="").about-news__href
          .about-news__img
            img(src="img/about/news-2.png", alt="alt")
          .about-news__text Собственные сельхозугодья в Тульской области и в Республике Дагестан.
      li.about-news__item
        a(data-al="").about-news__href
          .about-news__img
            img(src="img/about/news-1.png", alt="alt")
          .about-news__text Собственный современный распределительный центр.
  .about-number.js-numbers
    .about-number__wrapper
      .about-number__background
        .about-number__background--1
          img(src="img/about/leaflet-6.png", alt="alt")
        .about-number__background--2
          img(src="img/about/leaflet-7.png", alt="alt")
        .about-number__background--3
          img(src="img/about/leaflet-8.png", alt="alt")
      ul.about-number__list
        li.about-number__item
          span.about-number__num >70
          span.about-number__text единиц техники в автопарке
        li.about-number__item
          span.about-number__num >700
          span.about-number__text человек персонала
        li.about-number__item
          span.about-number__num >300
          span.about-number__text товаров в каталоге
        li.about-number__item
          span.about-number__num 1500
          span.about-number__text киллометров — радиус наших поставок от Москвы
        li.about-number__item
          span.about-number__num >20&nbsp;000
          span.about-number__text квадратных метров заводских мощностей
  .about-products
    .about-products__wrapper
      .about-products__background
        .about-products__background--1
          img(src="img/about/tomat.png", alt="alt")
        .about-products__background--2
          img(src="img/about/apple.png", alt="alt")
        .about-products__background--3
          img(src="img/about/garlic.png", alt="alt")
        .about-products__background--4
          img(src="img/about/raspberries.png", alt="alt")
      p.about-products__title Широкий ассортимент
      ul.about-products__list
        li.about-products__item
          a(data-al="") Огурцы соленые, маринованные и малосольные
        li.about-products__item
          a(data-al="") Капуста квашеная и маринованная
        li.about-products__item
          a(data-al="") Черемша соленая
        li.about-products__item
          a(data-al="") Имбирь маринованный
        li.about-products__item
          a(data-al="") Грибы соленые
        li.about-products__item
          a(data-al="") Соусы
        li.about-products__item
          a(data-al="") Томаты красные
        li.about-products__item
          a(data-al="") Соленые черри
        li.about-products__item
          a(data-al="") Моченые ягоды
        li.about-products__item
          a(data-al="") Ассорти из маринованных и квашеных овощей
        li.about-products__item
          a(data-al="") Чеснок белый и красный соленый дольками
        li.about-products__item
          a(data-al="") Протёртые ягоды
        li.about-products__item
          a(data-al="") Салаты по-корейски
        li.about-products__item
          a(data-al="") Моченые яблоки
      ul.about-pluses
        li.about-pluses__item
          img(src="img/about/1.svg", alt="alt")
        li.about-pluses__item
          img(src="img/about/2.svg", alt="alt")
        li.about-pluses__item
          img(src="img/about/3.svg", alt="alt")
        li.about-pluses__item
          img(src="img/about/4.svg", alt="alt")







