section.section.about
  .about-top
    .breadcrumbs
      ul.breadcrumbs-list
        li.breadcrumbs-item
          a(href="") Главная
        li.breadcrumbs-item
          a(href="") О компании
    .page-title
      h1 О компании
    p.about-top__text.common-big На протяжении 20 лет компания поставляет на рынок экологически чистую, изготовленную без искусственных добавок и консервантов продукцию по оптимальным ценам.
    .about-top__img
      img(src="img/about/apples.png", alt="alt")
  .about-achievements
    p.about-achievements__title ФерЭльГам — лидер в&nbsp;сфере производства домашних&nbsp;солений и&nbsp;эксклюзивных рассольных сыров
    p.about-achievements__text Компания по праву считается первопроходцем выведения традиционно «рыночной» продукции на прилавки магазинов и торговых сетей и создателем этой ниши рынка как отдельной категории.
    .about-achievements__imgs
  .about-awards
    .about-awards__wrapper
      p.about-awards__title Мы занимаем призовые места на международных и региональных конкурсах
    .about-awards__slider
      .awards-slider
        .swiper-wrapper
          .awards-slide.swiper-slide
            img(src="img/about/awards-1.png", alt="alt")
            .awards-slide__annotation
              p
          .awards-slide.swiper-slide
            img(src="img/about/awards-2.png", alt="alt")
            .awards-slide__annotation
              p
          .awards-slide.swiper-slide
            img(src="img/about/awards-3.png", alt="alt")
            .awards-slide__annotation
              p
        .awards-btn.awards-btn-prev
        .awards-btn.awards-btn-next
  .about-video
    .about-video__wrapper
      .about-video__title Контролируем производство от&nbsp;поля&nbsp;до&nbsp;прилавка
      .about-video__text Мы совершенствуем технологические процессы, постоянно следим за качеством сырья, упаковкой и доставкой. Качественно и своевременно производим калибровку и засолку овощей и фруктов круглый год.
    .about-video__preview
      .about-video__img
        img(src="img/about/preview.jpg", alt="alt")
      .about-video__btn
        <svg width="45" height="44" viewBox="0 0 45 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <ellipse cx="22.2266" cy="22" rx="22" ry="22" transform="rotate(90 22.2266 22)" fill="#84BD00"/>
          <path d="M19.082 17.1446L28.229 22L19.082 26.8554V17.1446Z" fill="white"/>
        </svg>
        span Смотреть видео о производстве
  .about-news
    .about-news-slider
      .news-slider
        .swiper-wrapper
          .news-slide.swiper-slide
            .news-slide__img
              img(src="img/about/news-main.png", alt="alt")
            .news-slide__title С 2012 производим солено-квашеную продукцию на собственном заводе.
        .news-btn.news-btn-prev
        .news-btn.news-btn-next
    ul.about-news__list
      li.about-news__item
        a(href="").about-news__href
          .about-news__img
            img(src="img/about/news-2.png", alt="alt")
          .about-news__text Собственные сельхозугодья в Тульской области и в Республике Дагестан.
      li.about-news__item
        a(href="").about-news__href
          .about-news__img
            img(src="img/about/news-1.png", alt="alt")
          .about-news__text Собственный современный распределительный центр.
  .about-number
    .about-number__wrapper
      ul.about-number__list
        li.about-number__item
          span.about-number__num >70
          span.about-number__text единиц техники в автопарке
        li.about-number__item
          span.about-number__num >700
          span.about-number__text человек персонала
        li.about-number__item
          span.about-number__num >300
          span.about-number__text товаров в каталоге
        li.about-number__item
          span.about-number__num 1500
          span.about-number__text киллометров — радиус наших поставок от Москвы
        li.about-number__item
          span.about-number__num >20 000
          span.about-number__text квадратных метров заводских мощностей
  .about-products
    .about-products__wrapper
      p.about-products__title Широкий ассортимент
      ul.about-products__list
        li.about-products__item
          a(href="") Огурцы соленые, маринованные и малосольные
        li.about-products__item
          a(href="") Капуста квашеная и маринованная
        li.about-products__item
          a(href="") Черемша соленая
        li.about-products__item
          a(href="") Имбирь маринованный
        li.about-products__item
          a(href="") Грибы соленые
        li.about-products__item
          a(href="") Соусы
        li.about-products__item
          a(href="") Томаты красные
        li.about-products__item
          a(href="") Соленые черри
        li.about-products__item
          a(href="") Моченые ягоды
        li.about-products__item
          a(href="") Ассорти из маринованных и квашеных овощей
        li.about-products__item
          a(href="") Чеснок белый и красный соленый дольками
        li.about-products__item
          a(href="") Протёртые ягоды
        li.about-products__item
          a(href="") Салаты по-корейски
        li.about-products__item
          a(href="") Моченые яблоки
      ul.about-pluses
        li.about-pluses__item
          img(src="img/about/1.svg", alt="alt")
        li.about-pluses__item
          img(src="img/about/2.svg", alt="alt")
        li.about-pluses__item
          img(src="img/about/3.svg", alt="alt")
        li.about-pluses__item
          img(src="img/about/4.svg", alt="alt")







