.popup.popup-callback.js-popup(data-popup="callback")
  .popup-overlay
  .popup-container
    .callback-wrapper
      p.callback-title Обратная связь
      p.callback-desc Для того, чтобы связаться с нами, пожалуйста, заполните форму и наши менеджеры свяжутся с вами в ближайшее время. *&nbsp;—&nbsp;поля&nbsp;обязательны&nbsp;для&nbsp;заполнения.
      form.form.callback-form.js-form(action="" method="method")
        .form-block
          label.form-label(for="") Тема
          .custom-select.js-custom-select
            input(type="text").js-select-input
            .custom-select__inner.js-select-choice
            .custom-select__dropdown.js-select-dropdown
              .custom-select__overlay.js-select-overlay
              ul.custom-select__list
                li.custom-select__item.js-select-item(data-value="Другая тема") Другая тема
                li.custom-select__item.js-select-item(data-value="Стать партнером") Стать партнером
                li.custom-select__item.js-select-item(data-value="Задать вопрос") Задать вопрос
                li.custom-select__item.js-select-item(data-value="Оставить отзыв") Оставить отзыв
        .form-block
          label.form-label(for="") Имя*
          input.form-input.js-valid(type="text")
          .error-message Поле незаполнено или заполнено неверно
        .form-block
          label.form-label(for="") Телефон*
          input.form-input.js-valid(type="tel")
          .error-message Поле незаполнено или заполнено неверно
        .form-block
          label.form-label(for="") Email*
          input.form-input.js-valid(type="email")
          .error-message Поле незаполнено или заполнено неверно
        .form-block
          label.form-label(for="") Сообщение
          textarea.form-textarea
          .error-message Поле незаполнено или заполнено неверно
        .form-bottom
          .form-agree
            label.fake-checkbox(for="checkbox1")
              input.js-valid(type="checkbox", name="" id="checkbox1")
              .fake-checkbox__box
              p Даю согласие на обработку <a href="">персональных данных</a>
          .form-button
            button.btn.js-submit Отправить
  .popup-close
    button
      include ../blocks/closeBtn.pug