.popup.popup-callback.js-popup(data-popup="callback")
  .popup-overlay
  .popup-container
    .callback-wrapper
      p.callback-title Обратная связь
      p.callback-desc Для того, чтобы связаться с нами, пожалуйста, заполните форму и наши менеджеры свяжутся с вами в ближайшее время.* — поля обязательны для заполнения.
      form.form.callback-form(action="" method="method")
        .form-block
          label.form-label(for="")
          input.form-input(type="text" date-req="true" data-valid="true")
        .form-block
          label.form-label(for="")
          input.form-input(type="text" date-req="true" data-valid="true")
        .form-block
          label.form-label(for="")
          input.form-input(type="text" date-req="true" data-valid="true")
        .form-block
          label.form-label(for="")
          input.form-input(type="text" date-req="true" data-valid="true")
        .form-block
          label.form-label(for="")
          textarea.form-textarea(type="text" date-req="true" data-valid="true")
        .form-bottom
          .form-agree
            label.fake-checkbox
              input(type="checkbox", name="")
              .fake-checkbox__box
              p Даю согласие на обработку <a href="">персональных данных</a>
          .form-button
            button.form-btn.btn Отправить
