section.section.catalog-inner
  .container
    .catalog-inner__top
      .catalog-inner__wrapper
        .breadcrumbs
          ul.breadcrumbs-list
            li.breadcrumbs-item
              a(href="") Главная
            li.breadcrumbs-item
              a(href="") Продукция
        p.catalog-inner__title Соления
        p.catalog-inner__desc Соления бочковые, натуральные, без уксуса, засоленные по рецептам древних Дагестанских и Рязанских мастеров.
        .link--download
          a(href="") Скачать весь каталог
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 15.5V18.5H17V15.5" stroke="#84BD00" stroke-width="1.5"/>
              <path d="M10 13.5L10 1.5" stroke="#84BD00" stroke-width="1.5"/>
              <path d="M15.9416 7.55879L10 13.5004L4.0584 7.55879" stroke="#84BD00" stroke-width="1.5"/>
            </svg>
      .catalog-inner__img
        img(src="img/catalog/item-1.png", alt="alt")
    ul.catalog-inner__list
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img-3.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Томаты красные соленые
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img-2.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Огурцы маринованные «Праздничные»
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img-1.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Огурцы солёные «Традиционные»
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Капуста «По-Московски»
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img-3.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Томаты красные соленые
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img-2.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Огурцы маринованные «Праздничные»
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img-1.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Огурцы солёные «Традиционные»
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Капуста «По-Московски»
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img-3.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Томаты красные соленые
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img-2.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Огурцы маринованные «Праздничные»
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img-1.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Огурцы солёные «Традиционные»
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Капуста «По-Московски»
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img-3.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Томаты красные соленые
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img-2.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Огурцы маринованные «Праздничные»
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img-1.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Огурцы солёные «Традиционные»
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-item__img
            img(src="img/catalog/subcatalog/img.png", alt="alt")
          .catalog-item__wrapper
            .catalog-inner__name Капуста «По-Московски»
    .pagination
      .pagination-btn.pagination-btn__prev.pagination-btn--disabled
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="20" fill="#F4F5F3"/>
          <path d="M17.5002 12.4998L25.0004 20L17.5002 27.5002" stroke="#567B00" stroke-width="1.5"/>
        </svg>
      .pagination-item
        a(href="").active 1
      .pagination-item
        a(href="") 2
      .pagination-item
        a(href="") 3
      .pagination-item
        a(href="") 4
      .pagination-dots ...
      .pagination-item
        a(href="") 99
      .pagination-btn.pagination-btn__next
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="20" fill="#F4F5F3"/>
          <path d="M17.5002 12.4998L25.0004 20L17.5002 27.5002" stroke="#567B00" stroke-width="1.5"/>
        </svg>
