section.section.catalog-inner
  .container
    .catalog-inner__top
      .catalog-inner__wrapper
        .breadcrumbs
          ul.breadcrumbs-list
            li.breadcrumbs-item
              a(href="") Главная
            li.breadcrumbs-item
              a(href="") Продукция
        p.catalog-inner__title Соления
        p.catalog-inner__desc.common-text Соления бочковые, натуральные, без уксуса, засоленные по рецептам древних Дагестанских и Рязанских мастеров.
        .link--download
          a(href="") Скачать весь каталог
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 15.5V18.5H17V15.5" stroke="#84BD00" stroke-width="1.5"/>
              <path d="M10 13.5L10 1.5" stroke="#84BD00" stroke-width="1.5"/>
              <path d="M15.9416 7.55879L10 13.5004L4.0584 7.55879" stroke="#84BD00" stroke-width="1.5"/>
            </svg>
      .catalog-inner__img
        img(src="", alt="alt")
    ul.catalog-inner__list
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-inner__img
            img(src="", alt="alt")
          .catalog-inner__name
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-inner__img
            img(src="", alt="alt")
          .catalog-inner__name
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-inner__img
            img(src="", alt="alt")
          .catalog-inner__name
      li.catalog-inner__item
        a(href="").catalog-inner__href
          .catalog-inner__img
            img(src="", alt="alt")
          .catalog-inner__name

