section.section.catalog
  .container
    .link--download
      a(href="") Скачать весь каталог
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 15.5V18.5H17V15.5" stroke="#84BD00" stroke-width="1.5"/>
          <path d="M10 13.5L10 1.5" stroke="#84BD00" stroke-width="1.5"/>
          <path d="M15.9416 7.55879L10 13.5004L4.0584 7.55879" stroke="#84BD00" stroke-width="1.5"/>
        </svg>
    ul.catalog-list
      li.catalog-item
        a(data-al="").catalog-item__href
          .catalog-item__img
            img(src="img/catalog/img-5.png", alt="alt")
          p.catalog-item__name Натуральные бочковые соления
      li.catalog-item
        a(data-al="").catalog-item__href
          .catalog-item__img
            img(src="img/catalog/img-4.png", alt="alt")
          p.catalog-item__name Корейские салаты
      li.catalog-item
        a(data-al="").catalog-item__href
          .catalog-item__img
            img(src="img/catalog/img-3.png", alt="alt")
          p.catalog-item__name Соусы и закуски
      li.catalog-item
        a(data-al="").catalog-item__href
          .catalog-item__img
            img(src="img/catalog/img-2.png", alt="alt")
          p.catalog-item__name Сыры и сливочное масло
      li.catalog-item
        a(data-al="").catalog-item__href
          .catalog-item__img
            img(src="img/catalog/img-1.png", alt="alt")
          p.catalog-item__name Фруктовые десерты
      li.catalog-item
        a(data-al="").catalog-item__href
          .catalog-item__img
            img(src="img/catalog/img.png", alt="alt")
          p.catalog-item__name Варёные овощи
