section.section.contacts
  .section-left
    .breadcrumbs
      ul.breadcrumbs-list
        li.breadcrumbs-item
          a(href="") Главная
        li.breadcrumbs-item
          a(href="") Контакты
    .page-title
      h1 Контакты
    p.contacts-address 143007, Московская обл., г.&nbsp;Одинцово, ул.&nbsp;Ново&#8209;Спортивная, д.&nbsp;4, кор.&nbsp;3, офис&nbsp;2
    a.contacts-email(href="mailto:info@tdfeg.ru") info@tdfeg.ru
    ul.contacts-list
      li.contacts-item
        p.contacts-item__text Многоканальный телефон офиса:
        p.contacts-item__tel +7 (495) 648-29-99
      li.contacts-item
        p.contacts-item__text Бухгалтерия:
        p.contacts-item__tel +7 (495) 648-29-99
      li.contacts-item
        p.contacts-item__text Отдел продаж:
        p.contacts-item__tel +7 (495) 648-29-99
      li.contacts-item
        p.contacts-item__text Производство:
        p.contacts-item__tel +7 (495) 648-29-29
      li.contacts-item
        p.contacts-item__text Отдел закупок:
        p.contacts-item__tel +7 (495) 648-29-99
      li.contacts-item
        p.contacts-item__text Отдел логистики:
        p.contacts-item__tel +7 (495) 648-29-29
  .contacts-map
    .map(id="map" style="width: 100%; height: 100%")

