section.section.gallery.js-gallery
  .delimeter-img
    img(src="img/delimeter.png", alt="alt")
  .section-head.section-head--center
    h2.common-h2 Контролируем производство от поля до прилавка
  .gallery-wrapper
    .gallery-column.gallery-column--1
      .gallery-item.js-bubble-hover.js-popup-open.js-gallery-btn(data-popup="gallery" data-id="1")
        .gallery-item__img
          img(src="img/gallery/1.png", alt="alt")
        .gallery-item__text Выращиваем
    .gallery-column.gallery-column--2
      .gallery-item.js-bubble-hover.js-popup-open.js-gallery-btn(data-popup="gallery" data-id="2")
        .gallery-item__img
          img(src="img/gallery/2.png", alt="alt")
        .gallery-item__text Перерабатываем
      .gallery-item.js-bubble-hover.js-popup-open.js-gallery-btn(data-popup="gallery" data-id="3")
        .gallery-item__img
          img(src="img/gallery/3.png", alt="alt")
        .gallery-item__text Готовим
    .gallery-column.gallery-column--3
      .gallery-item
        .gallery-item__img
          video(autoplay muted)
            source(src="video/video1.mp4")
      .gallery-main
        .gallery-main__text Посмотрите видео о компании
        button.gallery-main__button.js-video-btn
          <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="32.5" cy="32.5" r="32.5" fill="#84BD00"/>
            <path d="M29 26.5299C29 26.2967 29.2544 26.1526 29.4543 26.2726L38.5713 31.7428C38.7655 31.8593 38.7655 32.1407 38.5713 32.2572L29.4543 37.7274C29.2544 37.8474 29 37.7033 29 37.4701V26.5299Z" fill="white"/>
          </svg>

    .gallery-column.gallery-column--4
      .gallery-item.js-bubble-hover.js-popup-open.js-gallery-btn(data-popup="gallery" data-id="4")
        .gallery-item__img
          img(src="img/gallery/5.png", alt="alt")
        .gallery-item__text Упаковываем
      .gallery-item.js-bubble-hover.js-popup-open.js-gallery-btn(data-popup="gallery" data-id="5")
        .gallery-item__img
          img(src="img/gallery/6.png", alt="alt")
        .gallery-item__text Контролируем качество
    .gallery-column.gallery-column--5
      .gallery-item.js-bubble-hover.js-popup-open.js-gallery-btn(data-popup="gallery" data-id="6")
        .gallery-item__img
          img(src="img/gallery/7.png", alt="alt")
        .gallery-item__text Доставляем
