section.section.gallery.js-gallery
  .delimeter-img
    img(src="img/delimeter.png", alt="alt")
  .section-head.section-head--center
    h2.common-h2 Контролируем производство от поля до прилавка
  .gallery-wrapper
    .gallery-column.gallery-column--1
      .gallery-item.js-bubble-hover
        .gallery-item__img
          img(src="img/gallery/1.png", alt="alt")
        .gallery-item__text Выращиваем
    .gallery-column.gallery-column--2
      .gallery-item.js-bubble-hover
        .gallery-item__img
          img(src="img/gallery/2.png", alt="alt")
        .gallery-item__text Перерабатываем
      .gallery-item.js-bubble-hover
        .gallery-item__img
          img(src="img/gallery/3.png", alt="alt")
        .gallery-item__text Готовим
    .gallery-column.gallery-column--3
      .gallery-item
        .gallery-item__img
          img(src="img/gallery/main.png", alt="alt")
    .gallery-column.gallery-column--4
      .gallery-item.js-bubble-hover
        .gallery-item__img
          img(src="img/gallery/5.png", alt="alt")
        .gallery-item__text Упаковываем
      .gallery-item.js-bubble-hover
        .gallery-item__img
          img(src="img/gallery/6.png", alt="alt")
        .gallery-item__text Контролируем качество
    .gallery-column.gallery-column--5
      .gallery-item.js-bubble-hover
        .gallery-item__img
          img(src="img/gallery/7.png", alt="alt")
        .gallery-item__text Доставляем
