section.section.products
  .container
    .section-head
      h2.common-h2 Большой выбор натуральных продуктов
    .products-list
      .products-row.products-row--1
        a(href="1").products-item
          img(src="img/products/product-1.png", alt="alt")
          p.products-item__name(style="top: 67%;left: 77%;") Варёные<br>овощи
        a(href="2").products-item
          img(src="img/products/product-2.png", alt="alt")
          p.products-item__name(style="top: 38.5%; left: 8px;") Корейские<br>салаты
      .products-row.products-row--2
        a(href="3").products-item
          img(src="img/products/product-3.png", alt="alt")
          p.products-item__name(style="top: 21%;left: -34px;") Бочковые<br>соления
        a(href="4").products-item
          img(src="img/products/product-4.png", alt="alt")
          p.products-item__name(style="top: 33.3%;left: 85%;") Сыры<br>и&nbsp;сливочное<br>масло
      .products-row.products-row--3
        a(href="5").products-item
          img(src="img/products/product-5.png", alt="alt")
          p.products-item__name(style="top: 59%;left: 81%;") Фруктовые<br>десерты
        a(href="6").products-item
          img(src="img/products/product-6.png", alt="alt")
          p.products-item__name(style="top: 3%;left: 56%;") Соусы<br>и&nbsp;закуски
