section.section.products
  .container
    .section-head
      h2.common-h2 Большой выбор натуральных продуктов
    .products-list
      .products-row.products-row--1
        a(href="1").products-item
          img(src="img/products/product-1.png", alt="alt")
          p.products-item__name Варёные<br>овощи
        a(href="2").products-item
          img(src="img/products/product-2.png", alt="alt")
          p.products-item__name Корейские<br>салаты
      .products-row.products-row--2
        a(href="3").products-item
          img(src="img/products/product-3.png", alt="alt")
          p.products-item__name Бочковые<br>соления
        a(href="4").products-item
          img(src="img/products/product-4.png", alt="alt")
          p.products-item__name Сыры<br>и&nbsp;сливочное<br>масло
      .products-row.products-row--3
        a(href="5").products-item
          img(src="img/products/product-5.png", alt="alt")
          p.products-item__name Фруктовые<br>десерты
        a(href="6").products-item
          img(src="img/products/product-6.png", alt="alt")
          p.products-item__name Соусы<br>и&nbsp;закуски
  .ladybug
    include ../blocks/ladybug.pug
  .products-background
    .products-background__img.products-background__img--1
      img(src="img/products/product-back-1.png", alt="alt")
    .products-background__img.products-background__img--2
      img(src="img/products/product-back-2.png", alt="alt")
    .products-background__img.products-background__img--3
      img(src="img/products/product-back-3.png", alt="alt")
    .products-background__img.products-background__img--4
      img(src="img/products/product-back-4.png", alt="alt")
    .products-background__img.products-background__img--5
      img(src="img/products/product-back-5.png", alt="alt")
    .products-background__img.products-background__img--6
      img(src="img/products/product-back-6.png", alt="alt")