section.section.news
  .container
    .section-head
      h2.common-h2 Пресс-центр
    .section-link
      a(href="") Смотреть все
    .news-wrapper
      .main-news
        .news-tag Статья
        .main-news__info
          .date 4/01/2021
          a(href="").main-news__title Чем полезна квашеная капуста для организма?
          p.main-news__desc Традиционная закуска полюбилась многим народам не только за свой вкус, но и за необычайную пользу.
        a(href="").main-news__img
          img(src="", alt="alt")
      ul.news-list
        li.news-item
          a(href="").news-item__href
            .news-item__img
              img(src="", alt="alt")
            .news-item__info
              .date 4/01/2021
              p.news-item__title «ФерЭльГам» запустил третью очередь теплиц
        li.news-item
          a(href="").news-item__href
            .news-item__img
              img(src="", alt="alt")
            .news-tag Статья
            .news-item__info
              .date 4/01/2021
              p.news-item__title Уникальный проект Philips Lighting для российских аграриев
        li.news-item
          a(href="").news-item__href
            .news-item__img
              img(src="", alt="alt")
            .news-item__info
              .date 4/01/2021
              p.news-item__title Фирменный магазин «ФерЭльГам» открылся в Москве
        li.news-item
          a(href="").news-item__href
            .news-item__img
              img(src="", alt="alt")
            .news-tag Рецепт
            .news-item__info
              .date 4/01/2021
              p.news-item__title Как приготовить салат с маринованными овощами




