.container-inner
  .wysiwyg
    p 25 февраля в рамках общей программы по контролю качества наш тепличный комплекс прошел аудит компании МЕТRО.
    p Не секрет, что METRO ежегодно с особой тщательностью проверяет своих поставщиков по всем основным параметрам производства, а каждый продукт проходит лабораторные испытания в независимых лабораториях.
    p ООО «ФерЭльГам» в очередной раз достойно прошла проверку на соответствие международным стандартам качества, получив высокие оценки аудиторов.
    img(src="img/news/default.jpg", alt="alt")
  .date 18/01/2021