section.section.news-page
  .container
    ul.tabs
      li.tabs-item
        a(href="").active Все
      li.tabs-item
        a(href="") Новости
      li.tabs-item
        a(href="") Статьи
      li.tabs-item
        a(href="") Рецепты
    ul.news-list
      li.news-item
        a(href="").news-item__href
          .news-item__img
            img(src="img/news/img-2.png", alt="alt")
          .news-item__info
            .date 22/10/2020
            p.news-item__title «ФерЭльГам» запустил третью очередь теплиц
      li.news-item
        a(href="").news-item__href
          .news-item__img
            img(src="img/news/img-3.png", alt="alt")
          .news-tag Статья
          .news-item__info
            .date 22/10/2020
            p.news-item__title Уникальный проект Philips Lighting для российских аграриев
      li.news-item
        a(href="").news-item__href
          .news-item__img
            img(src="img/news/img-1.png", alt="alt")
          .news-item__info
            .date 4/01/2021
            p.news-item__title Фирменный магазин «ФерЭльГам» открылся в Москве
      li.news-item
        a(href="").news-item__href
          .news-item__img
            img(src="img/news/img.png", alt="alt")
          .news-tag Рецепт
          .news-item__info
            .date 22/10/2020
            p.news-item__title Как приготовить салат с маринованными овощами
      li.news-item
        a(href="").news-item__href
          .news-item__img
            img(src="img/news/img-2.png", alt="alt")
          .news-item__info
            .date 22/10/2020
            p.news-item__title «ФерЭльГам» запустил третью очередь теплиц
      li.news-item
        a(href="").news-item__href
          .news-item__img
            img(src="img/news/img-3.png", alt="alt")
          .news-tag Статья
          .news-item__info
            .date 22/10/2020
            p.news-item__title Уникальный проект Philips Lighting для российских аграриев
      li.news-item
        a(href="").news-item__href
          .news-item__img
            img(src="img/news/img-1.png", alt="alt")
          .news-item__info
            .date 4/01/2021
            p.news-item__title Фирменный магазин «ФерЭльГам» открылся в Москве
      li.news-item
        a(href="").news-item__href
          .news-item__img
            img(src="img/news/img.png", alt="alt")
          .news-tag Рецепт
          .news-item__info
            .date 22/10/2020
            p.news-item__title Как приготовить салат с маринованными овощами
      li.news-item
        a(href="").news-item__href
          .news-item__img
            img(src="img/news/img-2.png", alt="alt")
          .news-item__info
            .date 22/10/2020
            p.news-item__title «ФерЭльГам» запустил третью очередь теплиц
      li.news-item
        a(href="").news-item__href
          .news-item__img
            img(src="img/news/img-3.png", alt="alt")
          .news-tag Статья
          .news-item__info
            .date 22/10/2020
            p.news-item__title Уникальный проект Philips Lighting для российских аграриев
      li.news-item
        a(href="").news-item__href
          .news-item__img
            img(src="img/news/img-1.png", alt="alt")
          .news-item__info
            .date 4/01/2021
            p.news-item__title Фирменный магазин «ФерЭльГам» открылся в Москве
      li.news-item
        a(href="").news-item__href
          .news-item__img
            img(src="img/news/img.png", alt="alt")
          .news-tag Рецепт
          .news-item__info
            .date 22/10/2020
            p.news-item__title Как приготовить салат с маринованными овощами
    .pagination
      .pagination-btn.pagination-btn__prev.pagination-btn--disabled
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="20" fill="#F4F5F3"/>
          <path d="M17.5002 12.4998L25.0004 20L17.5002 27.5002" stroke="#567B00" stroke-width="1.5"/>
        </svg>
      .pagination-item
        a(href="").active 1
      .pagination-item
        a(href="") 2
      .pagination-item
        a(href="") 3
      .pagination-item
        a(href="") 4
      .pagination-dots ...
      .pagination-item
        a(href="") 99
      .pagination-btn.pagination-btn__next
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="20" fill="#F4F5F3"/>
          <path d="M17.5002 12.4998L25.0004 20L17.5002 27.5002" stroke="#567B00" stroke-width="1.5"/>
        </svg>
