section.section.not-found
  .not-found__img
    img(src="img/404.png", alt="alt")
  .not-found__wrapper
    .not-found__top
      .not-found__code
        img(src="img/404-code.png", alt="alt")
      p.not-found__title Страница не найдена
    .not-found__text
      p Вы неправильно набрали адрес. Возможно такой страницы больше не существует. Воспользуйтесь главным меню, чтобы перейти на другую страницу.
      p Вы также можете вернуться на <a href="">главную страницу</a> сайта.