section.section.partners
  .section-left
    .breadcrumbs
      ul.breadcrumbs-list
        li.breadcrumbs-item
          a(href="") Главная
        li.breadcrumbs-item
          a(href="") Партнеры
    .page-title
      h1 Партнеры
    p.partners-text.common-big Мы предлагаем торговым сетям востребованную, качественную продукцию и всегда готовы на диалог.
    .partners-button
      button.btn.btn--green.js-popup-open(data-popup="callback") Стать партнером
  .section-img
    img(src="img/partners/tomato.png", alt="alt")
section.section.text-banner
  .text-banner__wrapper
    .text-banner__img
      img(src="img/partners/flowers.png", alt="alt")
    p.text-banner__text География продаж продукции обширна, а среди партнёров ведущие федеральные и региональные торговые сети.
section.section.partners-container
  .container
    ul.partners-list
      li.partners-item
        img(src="img/partners/logo-1.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-2.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-3.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-4.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-5.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-6.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-7.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-8.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-9.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-10.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-11.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-12.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-13.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-14.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-15.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-16.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-17.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-18.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-19.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-20.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-21.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-22.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-23.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-24.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-25.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-26.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-27.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-28.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-29.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-30.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-31.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-32.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-33.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-34.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-35.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-36.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-37.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-38.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-39.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-40.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-41.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-42.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-43.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-44.png", alt="alt")
      li.partners-item
        img(src="img/partners/logo-45.png", alt="alt")
