section.section.partners
  .section-left
    .breadcrumbs
      ul.breadcrumbs-list
        li.breadcrumbs-item
          a(href="") Главная
        li.breadcrumbs-item
          a(href="") Партнеры
    .page-title
      h1 Партнеры
    p.partners-text.common-big Мы предлагаем торговым сетям востребованную, качественную продукцию и всегда готовы на диалог.
    .partners-button
      button.btn.btn--green.js-popup-open(data-popup="callback") Стать партнером
  .section-img
    img(src="img/partners/tomato.png", alt="alt")
section.section.text-banner
  .text-banner__wrapper
    .text-banner__img
      img(src="img/partners/flowers.png", alt="alt")
    p.text-banner__text География продаж продукции обширна, а среди партнёров ведущие федеральные и региональные торговые сети.