.container-inner
  .wysiwyg
    h3 Ингредиенты
    .table-dots
      .table-dots__row
        .table-dots__name Тофу «Классический»
        .table-dots__spacing
        .table-dots__count 80 г
      .table-dots__row
        .table-dots__name Бобы эдамаме
        .table-dots__spacing
        .table-dots__count 15 г
      .table-dots__row
        .table-dots__name Авокадо Хасс
        .table-dots__spacing
        .table-dots__count 0,5 шт.
      .table-dots__row
        .table-dots__name Салат корейский с морковью
        .table-dots__spacing
        .table-dots__count 25 г
      .table-dots__row
        .table-dots__name Салат из свежей микрозелени №3
        .table-dots__spacing
        .table-dots__count 25 г
      .table-dots__row
        .table-dots__name Редис
        .table-dots__spacing
        .table-dots__count 20 г
      .table-dots__row
        .table-dots__name Смесь кулинарная «Чёрный и белый кунжут»
        .table-dots__spacing
        .table-dots__count 1 ч. ложка
      .table-dots__row
        .table-dots__name Соус соевый
        .table-dots__spacing
        .table-dots__count 1 ст. ложка
      .table-dots__row
        .table-dots__name Масло кунжутное
        .table-dots__spacing
        .table-dots__count 0,5 ч. ложки
    h3 Рецепт приготовления
    ol
      li Для холодного бульона смешайте холодную воду, соль, сахар, яблочный уксус, соевый соус, рассол от малосольных огурцов. Попробуйте на вкус: бульон должен быть вкусным, сбалансированным. Если нужно, добавьте то, чего вам не хватает (соль, сахар, уксус и т.д.) для баланса. Добавьте мелко нарезанный укроп, кинзу, чеснок, нарезанные малосольные огурцы и томаты черри. Поставьте бульон в холодильник настаиваться и охлаждаться на пару часов (можно дольше).
        img(src="img/news/default-1.jpg", alt="alt")
      li Подготовьте овощной бульон, разогрейте.
      li Растительный соевый белок залейте горячим бульоном и замочите на 10-15 минут до полного размягчения кусочков. Промойте в холодной воде, отожмите. Крупные кусочки нарежьте потоньше.
      li Смешайте растительный соевый белок, мелко нарезанный лук, соль, перец, яблочный уксус и соевый соус. Замаринуйте на 10-15 минут, можно чуть дольше.
        img(src="img/news/default-1.jpg", alt="alt")
      li Отварите лапшу по инструкции на упаковке, переложите в миску с холодной водой. Можно также некоторое время хранить в холодильнике перед подачей.
      li Когда холодный бульон настоялся и все ингредиенты готовы, соберите холодный суп. Добавьте в тарелку лапшу, соевый белок (соевое мясо), нарезанные огурцы, помидоры, редис, морковь по-корейски, немного Кимчи. Залейте холодным бульоном, приправьте свежей кинзой и зелёным луком и кунжутом.
