section.section.shops
  .shops-wrapper
    h2.shops-title.common-h2 Продукция представлена в&nbsp;торговых сетях
  .shops-slider
    .swiper-wrapper
      .shops-slide.swiper-slide
        img(src="img/shops/1.png", alt="alt")
      .shops-slide.swiper-slide
        img(src="img/shops/2.png", alt="alt")
      .shops-slide.swiper-slide
        img(src="img/shops/3.png", alt="alt")
      .shops-slide.swiper-slide
        img(src="img/shops/4.png", alt="alt")
      .shops-slide.swiper-slide
        img(src="img/shops/5.png", alt="alt")
      .shops-slide.swiper-slide
        img(src="img/shops/1.png", alt="alt")
      .shops-slide.swiper-slide
        img(src="img/shops/2.png", alt="alt")
      .shops-slide.swiper-slide
        img(src="img/shops/3.png", alt="alt")
      .shops-slide.swiper-slide
        img(src="img/shops/4.png", alt="alt")
      .shops-slide.swiper-slide
        img(src="img/shops/5.png", alt="alt")
    .shops-slider-button.shops-slider-next.swiper-btn
      <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20.2773" r="20" fill="white"/>
        <path d="M17.5002 12.7772L25.0004 20.2773L17.5002 27.7775" stroke="#567B00" stroke-width="1.5"/>
      </svg>
    .shops-slider-button.shops-slider-prev.swiper-btn
      <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20.2773" r="20" fill="white"/>
        <path d="M17.5002 12.7772L25.0004 20.2773L17.5002 27.7775" stroke="#567B00" stroke-width="1.5"/>
      </svg>
  .shops-background
    .shops-background__img.shops-background__img--1
      img(src="img/shops/1-pack.png", alt="alt")
    .shops-background__img.shops-background__img--2
      img(src="img/shops/2-pack.png", alt="alt")
    .shops-background__img.shops-background__img--3
      img(src="img/shops/3-pack.png", alt="alt")
    .shops-background__img.shops-background__img--petal-1
      img(src="img/shops/petal-1.png", alt="alt")
    .shops-background__img.shops-background__img--petal-2
      img(src="img/shops/petal-2.png", alt="alt")
    .shops-background__img.shops-background__img--petal-3
      img(src="img/shops/petal-3.png", alt="alt")
