section.section.requirements
  .requirements-item
    .requirements-item__name Требования
    .requirements-list
      li приветствуется опыт работы Администратором, Старшим продавцом,
      li Супервайзером;
      li образование не ниже среднего специального;
      li навыки работы с ПК (MS Office, Internet);
      li навыки выкладки товара;
      li личные качества: нацеленность на результат, ответственность, активность, умение
      li работать в команде.
  .requirements-item
    .requirements-item__name Обязанности
    .requirements-list
      li организация выкладки и перевыкладки товара в торговом зале;
      li разработка предложений по составлению планограмм выкладки товара на промо-зонах;
      li обеспечение выкладки в соответствии с планограммами;
      li взаимодействие с представителями производителей и поставщиков;
      li обучение персонала супермаркетов основам мерчандайзинга.
  .requirements-item
    .requirements-item__name Условия
    .requirements-list
      li официальное оформление с первого рабочего дня, «белую з/п»;
      li з/п 1-ый месяц от 39800 руб., далее от 49800 рублей (gross);
      li квартальные премии;
      li надбавки за стаж работы в компании и т.д.;
      li график работы: 5/2;
      li место работы рядом с домом;
      li вкусные обеды;
      li красивую, удобную форменную одежду;
      li возможность быстрого карьерного роста;
      li позитивный и дружный коллектив;
      li спортивные и другие корпоративные мероприятия;
      li оформление медицинской книжки за счёт компании.
  .vacancy-button
    button.btn.btn--green Откликнуться