section.section.vacancy
  .section-left
    .breadcrumbs
      ul.breadcrumbs-list
        li.breadcrumbs-item
          a(href="") Главная
        li.breadcrumbs-item
          a(href="") Вакансии
    .page-title
      h1 Вакансии
    p.vacancy-text.common-big В построении любого бизнеса участвуют люди, которые и являются залогом успеха каждой компании. Поэтому мы особое внимание уделяем привлечению, мотивации, профессиональному развитию и карьерному росту наших сотрудников.
    p.vacancy-subtitle.common-bold Ждем Ваши резюме по адресу:
    a(href="mailto:rabota@tdfeg.ru").vacancy-email rabota@tdfeg.ru
    p.vacancy-subtitle.common-bold Или позвоните по телефону:
    a(href="tel:+74955907003").vacancy-tel +7(495) 590-70-03
  .section-img
    img(src="img/vacancy/cucumber-1.png", alt="alt")
section.section.vacancy-container
  .vacancy-background.vacancy-background--1
    img(src="img/vacancy/cucumber-2.png", alt="alt")
  .vacancy-background.vacancy-background--2
    img(src="img/vacancy/cucumber-3.png", alt="alt")
  .vacancy-wrapper
    p.vacancy-title Отдел маркетинга
    ul.vacancy-list
      li.vacancy-item
        a(href="") Менеджер по работе с ключевыми клиентами
      li.vacancy-item
        a(href="") Руководитель отдела мерчандайзинга
      li.vacancy-item
        a(href="") Супервайзер по мерчандайзерам
      li.vacancy-item
        a(href="") Мерчандайзер
      li.vacancy-item
        a(href="") Торговый представитель по розничным магазинам
    p.vacancy-title Отдел рекламы
    ul.vacancy-list
      li.vacancy-item
        a(href="") Менеджер по работе с ключевыми клиентами
      li.vacancy-item
        a(href="") Руководитель отдела мерчандайзинга
      li.vacancy-item
        a(href="") Супервайзер по мерчандайзерам