section.section.words
  .words-wrapper
    .words-line.words-line--1
      p Натуральные продукты
      .words-line__img
        img(src="img/cucumber.png", alt="alt")
      p Естественное брожение
      .words-line__img
        img(src="img/cucumber.png", alt="alt")
      p Натуральные продукты
      .words-line__img
        img(src="img/cucumber.png", alt="alt")
      p Естественное брожение
    .words-line.words-line--2
      p Природные витамины
      .words-line__img
        img(src="img/tomato.png", alt="alt")
      p без вредных добавок
      .words-line__img
        img(src="img/tomato.png", alt="alt")
      p Природные витамины
      .words-line__img
        img(src="img/tomato.png", alt="alt")
      p без вредных добавок
