.container-inner
  .wysiwyg
    p На сегодняшний день свежие овощи можно купить в любое время года, но от засоленных  и консервированных овощей никто не отказывается.
    p Каждая хозяйка старается разнообразить стол зимой вкусненькими солеными огурчиками и помидорчиками, свеженькой засоленной капустой и квашеными яблоками.
    img(src="img/default.png", alt="alt")
    p И если в тепличных овощах много вредных нитратов, то соленья — это кладезь витаминов и минералов. Издавна люди  таким способом готовили овощи, фрукты и ягоды, чтобы сохранить от порчи урожай.
    p Южные народы делали консервации путем маринования с добавлением винного уксуса, у восточных славян было распространено соление, квашение и мочение. Уже в XII веке на Руси солили огурцы и квасили капусту. Позже разновидностей солений стало больше: начали солить грибы, помидоры, острый перец, мочить яблоки, клюкву и бруснику.
    h2 Этапы развития соленого бизнеса, заголовок второго уровня
    p Возродив традиции старинной кухни,  уже на протяжении 20 лет компания во главе с генеральным директором Ферзи Мамедовым поставляет на рынок экологически чистую, изготовленную без химических добавок и консервантов продукцию по доступным ценам. Компания по праву считается первопроходцем выведения традиционно «рыночной» продукции на прилавки магазинов и торговых сетей и создателем этой ниши рынка как отдельной категории.
    p Что и как готовим.
    ul
      li Огурцы соленые, маринованные и малосольные;
      li капуста квашеная и маринованная;
      li ассорти из маринованных и квашеных овощей;
      li чеснок белый и красный соленый дольками;
      li томаты красные соленые черри;
      li черемша соленая;
      li грибы соленые;
      li имбирь маринованный;
      li моченые яблоки;
      li моченые ягоды;
      li протертые ягоды;
      li соусы;
      li салаты по-корейски.
    p Натуральные соления без уксуса в банках и бочках, вакуумных упаковках приготовлены по традиционным рецептам. При изготовлении используются только натуральные ингредиенты. Применяя древний опыт, мы разработали новые рецептуры квашеной капусты, для которых берем только специальные сорта овоща. Они содержат много сока и легко его выделяют.
    p Мы контролируем производство от поля до прилавка.
    ol
      li Выращиваем
      li Перерабатываем
      li Готовим
      li Контролируем качество
      li Упаковываем
      li Доставляем
    p Натуральные соления без уксуса в банках и бочках, вакуумных упаковках приготовлены по традиционным рецептам. При изготовлении используются только натуральные ингредиенты.
    h3 Наше предприятие занимается переработкой овощей и ягод в больших количествах
    p Натуральные соления без уксуса в банках и бочках, вакуумных упаковках приготовлены по традиционным рецептам. При изготовлении используются только натуральные ингредиенты.
    .table-wrapper
      table
        thead
          tr
            th Продукт
            th Калорийность
            th Белки
            th Жиры
            th Углеводы
        tbody
          tr
            td Капуста Квашеная с Брусникой (Домашние Соленья)
            td 27 кКал
            td 1,5 г
            td 0 г
            td 5,2 г
          tr
            td Капуста Острая (Домашние Соленья)
            td 19 кКал
            td 1,8 г
            td 0,1 г
            td 2,4 г
          tr
            td Капуста с Морковью по-Корейски (Домашние Соленья)
            td 21 кКал
            td 1,2 г
            td 1,2 г
            td 4,1 г
          tr
            td Квашеная Капуста (Домашние Соленья)
            td 19 кКал
            td 1,8 г
            td 0 г
            td 3 г
          tr
            td Морковь по Корейски (Домашние Соленья)
            td 35 кКал
            td 0,1 г
            td 0,1 г
            td 6,9 г
    p Первичная переработка предусматривает мытье продукта и подготовку к дальнейшим технологическим стадиям; вторичная включает в себя очищение, нарезку. Потом этап подготовки соли или рассола, укладка в тару, ферментация, выгрузка из тары и фасовка.
    h4 При квашении получается рассол, в котором много минеральных и биологически активных веществ
    p Натуральные соления без уксуса в банках и бочках, вакуумных упаковках приготовлены по традиционным рецептам. При изготовлении используются только натуральные ингредиенты. Применяя древний опыт, мы разработали новые рецептуры квашеной капусты, для которых берем только специальные сорта овоща. Они содержат много сока и легко его выделяют.
    p При квашении получается рассол, в котором много минеральных и биологически активных веществ (особенно витамина С). Большим спросом пользуется капуста всех видов: квашенная по-деревенски, кислая для щей, маринованная со свеклой и морковью. В 2016 году наша капуста квашеная с морковью ГОСТ стала победителем передачи «Контрольная закупка»!
    h3 Ингредиенты
    .table-dots
      .table-dots__row
        .table-dots__name Тофу «Классический»
        .table-dots__spacing
        .table-dots__count 80 г
      .table-dots__row
        .table-dots__name Бобы эдамаме
        .table-dots__spacing
        .table-dots__count 15 г
      .table-dots__row
        .table-dots__name Авокадо Хасс
        .table-dots__spacing
        .table-dots__count 0,5 шт.
      .table-dots__row
        .table-dots__name Салат корейский с морковью
        .table-dots__spacing
        .table-dots__count 25 г
      .table-dots__row
        .table-dots__name Салат из свежей микрозелени №3
        .table-dots__spacing
        .table-dots__count 25 г
      .table-dots__row
        .table-dots__name Редис
        .table-dots__spacing
        .table-dots__count 20 г
      .table-dots__row
        .table-dots__name Смесь кулинарная «Чёрный и белый кунжут»
        .table-dots__spacing
        .table-dots__count 1 ч. ложка
      .table-dots__row
        .table-dots__name Соус соевый
        .table-dots__spacing
        .table-dots__count 1 ст. ложка
      .table-dots__row
        .table-dots__name Масло кунжутное
        .table-dots__spacing
        .table-dots__count 0,5 ч. ложки