.cookie.cookie-open.js-cookie
  p.cookie-text Мы используем файлы <a href="">cookie</a> для того, чтобы предоставить Вам больше возможностей при использовании сайта.
  .cookie-button
    button.btn.btn--green.js-btn-cookie Хорошо