footer.footer
  .container
    .footer-wrapper
      .footer-contacts
        .footer-contacts__tel
          a(href="+74956482999") +7 (495) 648-29-99
        .footer-contacts__button
          button.btn.btn--green Напишите нам
        .footer-contacts__address
          p 143007, Московская обл., г. Одинцово, ул. Ново-Спортивная, д. 4, кор. 3, офис 2
      nav.footer-nav
        .footer-nav__column
          .footer-nav__item
            a(href="") Каталог продукции
          ul.footer-nav__list
            li.footer-nav__subitem
              a(href="") Натуральные бочковые соления
            li.footer-nav__subitem
              a(href="") Корейские салаты
            li.footer-nav__subitem
              a(href="") Соусы и закуски
            li.footer-nav__subitem
              a(href="") Фруктовые десерты
            li.footer-nav__subitem
              a(href="") Варёные овощи
            li.footer-nav__subitem
              a(href="") Высококачественные сыры и сливочное масло
        .footer-nav__column
          .footer-nav__item
            a(href="") ТД «ФерЭльГам»
          ul.footer-nav__list
            li.footer-nav__subitem
              a(href="") О компании
            li.footer-nav__subitem
              a(href="") Сертификаты
            li.footer-nav__subitem
              a(href="") Вакансии
            li.footer-nav__subitem
              a(href="") Партнеры
        .footer-nav__column
          .footer-nav__item
            a(href="") Пресс-центр
          .footer-nav__item
            a(href="") Контакты
      .footer-img
        img(src="", alt="alt")
    .footer-bottom
      .footer-bottom__copyright © ООО «ФерЭльГам»
      .footer-bottom__dev
        a(data-al="")
          span DEXTRA
          span Разработка<br>сайта
