footer.footer
  .container
    .footer-wrapper
      .footer-contacts
        .footer-contacts__tel
          a(href="+74956482999") +7 (495) 648-29-99
        .footer-contacts__button
          button.btn.btn--green Напишите нам
        .footer-contacts__address
          p.common-text 143007,&nbsp;Московская обл., г.&nbsp;Одинцово, ул.&nbsp;Ново&#8209;Спортивная, д.&nbsp;4,&nbsp;кор.&nbsp;3,&nbsp;офис&nbsp;2
      nav.footer-nav
        .footer-nav__column
          .footer-nav__item
            a(href="") Каталог продукции
          ul.footer-nav__list
            li.footer-nav__subitem
              a(href="").common-text Натуральные бочковые соления
            li.footer-nav__subitem
              a(href="").common-text Корейские салаты
            li.footer-nav__subitem
              a(href="").common-text Соусы и закуски
            li.footer-nav__subitem
              a(href="").common-text Фруктовые десерты
            li.footer-nav__subitem
              a(href="").common-text Варёные овощи
            li.footer-nav__subitem
              a(href="").common-text Высококачественные сыры и сливочное масло
        .footer-nav__column
          .footer-nav__item
            a(href="") ТД «ФерЭльГам»
          ul.footer-nav__list
            li.footer-nav__subitem
              a(href="").common-text О компании
            li.footer-nav__subitem
              a(href="").common-text Сертификаты
            li.footer-nav__subitem
              a(href="").common-text Вакансии
            li.footer-nav__subitem
              a(href="").common-text Партнеры
        .footer-nav__column
          .footer-nav__item
            a(href="") Пресс-центр
          .footer-nav__item
            a(href="") Контакты
    .footer-img
      img(src="img/babbling.svg", alt="alt")
.footer-bottom
  .container
    .footer-bottom__copyright.common-small © ООО «ФерЭльГам»
    .footer-bottom__dev
      a(data-al="")
        span DEXTRA
        span Разработка<br>сайта
