header.header
  .container
    .header-wrapper
      a(href="").header-logo
        include ../blocks/logo
      .header-menu
        ul.header-nav
          li.header-nav__item.header-nav__item--sublist
            a(data-al="") О компании
            ul.header-nav__sublist
              li.header-nav__subitem
                a(data-al="") Новости
              li.header-nav__subitem
                a(data-al="") Статьи
              li.header-nav__subitem
                a(data-al="") Рецепты
          li.header-nav__item.header-nav__item--sublist
            a(data-al="") Продукция
            ul.header-nav__sublist
              li.header-nav__subitem
                a(data-al="") Новости
              li.header-nav__subitem
                a(data-al="") Статьи
              li.header-nav__subitem
                a(data-al="") Рецепты
          li.header-nav__item.header-nav__item--sublist
            a(data-al="") Пресс-центр
            ul.header-nav__sublist
              li.header-nav__subitem
                a(data-al="") Новости
              li.header-nav__subitem
                a(data-al="") Статьи
              li.header-nav__subitem
                a(data-al="") Рецепты
          li.header-nav__item
            a(data-al="") Контакты
        .header-search
          button
            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="8.16112" cy="8.16112" r="7.41112" stroke="#567B00" stroke-width="1.5"/>
              <path d="M13.2969 13.2969L18.001 18.001" stroke="#567B00" stroke-width="1.5"/>
            </svg>
      .header-contacts
        .header-lang
          a(data-al="") En
        .header-tel
          a(data-al="tel:+74956482999") +7 (495) 648-29-99
        .header-links
          a(data-al="")
            <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16.1451 4.14174C16.8552 4.14174 17.4308 3.56611 17.4308 2.85603C17.4308 2.14595 16.8552 1.57031 16.1451 1.57031C15.435 1.57031 14.8594 2.14595 14.8594 2.85603C14.8594 3.56611 15.435 4.14174 16.1451 4.14174Z" fill="#5C7849"/>
              <path d="M21.6307 2.84714C21.3838 1.92934 20.6602 1.20584 19.7425 0.958706C18.0661 0.5 11.36 0.5 11.36 0.5C11.36 0.5 4.65427 0.5 2.9778 0.941315C2.07778 1.18819 1.3365 1.92947 1.08962 2.84714C0.648438 4.52348 0.648438 8 0.648438 8C0.648438 8 0.648438 11.494 1.08962 13.1529C1.33676 14.0705 2.06012 14.794 2.97793 15.0412C4.67192 15.5 11.3603 15.5 11.3603 15.5C11.3603 15.5 18.0661 15.5 19.7425 15.0587C20.6603 14.8117 21.3838 14.0882 21.631 13.1705C22.072 11.494 22.072 8.01765 22.072 8.01765C22.072 8.01765 22.0897 4.52348 21.6307 2.84714ZM9.22499 11.2117V4.78827L14.8014 8L9.22499 11.2117Z" fill="#567B00"/>
            </svg>
          a(data-al="")
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 5C0 2.23858 2.23858 0 5 0H13C15.7614 0 18 2.23858 18 5V13C18 15.7614 15.7614 18 13 18H5C2.23858 18 0 15.7614 0 13V5ZM15.4308 3.85603C15.4308 4.56611 14.8552 5.14174 14.1451 5.14174C13.435 5.14174 12.8594 4.56611 12.8594 3.85603C12.8594 3.14595 13.435 2.57031 14.1451 2.57031C14.8552 2.57031 15.4308 3.14595 15.4308 3.85603ZM9.00034 13.3679C11.4146 13.3679 13.3718 11.4107 13.3718 8.99643C13.3718 6.58216 11.4146 4.625 9.00034 4.625C6.58606 4.625 4.62891 6.58216 4.62891 8.99643C4.62891 11.4107 6.58606 13.3679 9.00034 13.3679Z" fill="#567B00"/>
            </svg>
        .burger
          button.burger-btn.js-popup-open(data-popup="burger")
            span


