.common
  &-h2
    font-size: 50px
    line-height: 62px
    font-weight: 600
    color: $green
  &-small
    font-size: 14px
    line-height: 22px
    font-weight: 400
  &-text
    font-size: 16px
    line-height: 24px
    font-weight: 400
    @media screen and ( max-width: 1366px )
      font-size: 14px
      line-height: 22px