body
  font-family: 'Montserrat', sans-serif
.container
  padding: 0 160px
  margin: 0 auto
  width: 100%

.btn
  &--green
    background-color: $lightgreen
    font-size: 15px
    line-height: 18px
    color: #fff
    font-weight: 600
    padding: 6px 24px

.section
  &-head
    &--center
      h2
        max-width: 880px
        text-align: center
        margin: 0 auto
  &-link
    margin-top: 23px
    a
      font-size: 16px
      line-height: 28px
      font-weight: 600
      color: $green
      position: relative
      padding-right: 32px
      &::after
        content: ""
        display: block
        width: 20px
        height: 12px
        background-image: url(/app/build/img/section-arrow.svg)
        background-size: contain
        background-repeat: no-repeat
        position: absolute
        top: calc(50% - 6px)
        right: 0

.delimeter-img
  text-align: center
  img
    width: auto
    object-fit: contain