body
  font-family: 'Montserrat', sans-serif
.container
  padding: 0 160px
  margin: 0 auto
  width: 100%

.btn
  &--green
    background-color: $lightgreen
    font-size: 15px
    line-height: 18px
    color: #fff
    font-weight: 600
    padding: 6px 24px